*{
    margin: 0;
    padding: 0;
}
header{
    width: 90%;
    height: 120px;
    margin: auto;
    background: green;
    margin-bottom: 20px;
    text-align: center;
    line-height: 120px;
}
main{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
aside{
    width: 38%;
    height: 500px;
    background-color: rgb(158, 0, 0);
    margin-bottom: 10px;
    text-align: center;
    line-height: 500px;
}
section{
    width: 60%;
    height: 500px;
    background-color: rgb(0, 55, 156);
    margin-bottom: 20px;
    text-align: center;
    line-height: 500px;
}
footer{
    width: 90%;
    height: 100px;
    margin: auto;
    background: green;
    text-align: center;
    line-height: 100px;
}
